<html>
    <head>
      <title>HOLA</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <p> Canciones</p>
            <nav>
                <ul>
                    <li>
                        <a href="/canciones/crear">Crear Cancion</a>

                    </li>
                    <li>
                         <a href="/canciones"> Ver Canciones</a>
                    </li>
                </ul>
            </nav>
        </header>
        


